{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Register{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow-lg p-5 mb-5 bg-transparent text-body">
        <div class="card-overlay"></div>
        <h3 class="text-center mb-4" style="color:white;">📝 Register</h3>
        <form method="post" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="mb-3 credential-container ">
            <div class="mb-3 w-100" style="max-width: 250px;">
            <input type="text" name="username" class="form-control" placeholder="Username" required>
            </div>
        
            <div class="mb-3 w-100" style="max-width: 250px;">
            <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="mb-3 w-100" style="max-width: 250px;">
            <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
            <i class="fas fa-eye" id="toggle-password1" onclick="togglePassword('id_password','toggle-password1')"></i>
            </div>
            <div class="mb-3 credential-container ">
                <div class="mb-3 w-100" style="max-width: 250px;">
                <input type="password" id="c_id_password" name="confirm_password" class="form-control" placeholder="Confirm Password" required>
                <i class="fas fa-eye" id="toggle-password2" onclick="togglePassword('c_id_password','toggle-password2')"></i>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-success px-4">Register</button>
            </div>
        </div>
        </form>
        <p class="mt-3 text-center">
        Already have an account? <a href="{% url 'login' %}">Login</a>
        </p>
    </div>
    </div>
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                    <span class="close-btn" onclick="this.parentElement.style.display='none';">&times;</span>
                </div>
            {% endfor %}
        </div>
    {% endif %} 
    <script>
        function togglePassword(passwordId, toggleId){
            var passwordField = document.getElementById(passwordId);
            var toggleIcon = document.getElementById(toggleId);
            if(passwordField.type === "password")
            {
                passwordField.type = "text";
                toggleIcon.classList.remove("fa-eye");
                toggleIcon.classList.add("fa-eye-slash");
            }
            else
            {
                passwordField.type = "password";
                toggleIcon.classList.remove("fa-eye-slash");
                toggleIcon.classList.add("fa-eye");
            }
        }
    </script>
</body>
</html>
